---
import AnimatedSection from '../components/AnimatedSection.astro';
import AnimatedTitle from '../components/AnimatedTitle.astro';
import Categories from '../components/Categories.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<Hero />
	<section
		id="que-hacemos"
		class="py-16 px-4 bg-white/50 dark:bg-slate-900/50 transition-colors"
	>
		<div class="flex items-center justify-center">
			<div class="max-w-3xl mx-auto text-center space-y-6">
				<AnimatedTitle>
					<h2 class="text-3xl md:text-4xl font-bold  text-violet-primary dark:text-purple-400">
						Diseñamos webs que trabajan para vos
					</h2>
				</AnimatedTitle>
				<AnimatedSection delay={0.2}>
					<p class="text-lg text-purple-900/80 dark:text-purple-300/80">
						Diseñamos sitios que se adaptan a tus necesidades, que
						representan lo que hacés, y que te ayudan a crecer. Cada web es
						única, como vos y tu proyecto. Creamos sitios modernos,
						funcionales y claros. También diseñamos tu identidad visual.
					</p>
				</AnimatedSection>
			</div>
		</div>
	</section>
	
	<Categories />
</Layout>
